# gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
out/

# OS
.DS_Store
Thumbs.db

# Fabric
run/
